<nav class="navbar navbar-expand-sm navbar-light bg-light ">
  <a class="navbar-brand" href="/">reddit clone</a>
  {{#if currentUser}}
    <a class="btn btn-primary navbar-btn" href="/posts/new">new post</a>
  {{/if}}
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-
    target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-
    expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse">
    <div class="navbar-nav ml-auto">  
      {{#if currentUser}}
        <a class="nav-item nav-link mx-3" href="/logout">logout</a>
      {{else}}
        <a class="nav-item nav-link mx-3" href="/login">login</a>
        <a class="nav-item nav-link ml-3" href="/sign-up">sign up</a>
      {{/if}}
    </div>
  </div>
</nav>
